## INTRO TO PANDAS AND NUMPY FOR DATA ANALYSIS

In [1]:
# import the needed libraries

import pandas as pd
import numpy as np

In [3]:
# check the version of the libraries
print(np.__version__)
print(pd.__version__)

1.26.2
2.1.4

In [5]:
# creating dataframe from scratch using list of lists

# create the data list
students_list = [
    ['tola',23,'f','single'],
    ['femi',15,'m', 'married'],
    ['sodiq',35,'f','divorced'],
    ['wale',10,'m','single']
]

# create a list of columns names
column_name = ['name','age','gender','marital_status']

# turn the data list to a dataframe
student_df = pd.DataFrame(data= students_list, columns = column_name)
student_df

    name  age gender marital_status
0   tola   23      f         single
1   femi   15      m        married
2  sodiq   35      f       divorced
3   wale   10      m         single

In [6]:
# creating dataframe from dictionaries

# create a dictionary

club_dict = {
    'club_name': ['utd','chelsea','city','arsenal','spurs'],
    'ucl': [3,2,1,0,0],
    'best_player': ['bruno','palmer','Bernado','Saliba','Son']
}

club_df = pd.DataFrame(data=club_dict)
club_df

  club_name  ucl best_player
0       utd    3       bruno
1   chelsea    2      palmer
2      city    1     Bernado
3   arsenal    0      Saliba
4     spurs    0         Son

In [ ]:
# exercise:
# create a dataframe of countries, capital and continent.